@model IEnumerable<Final_Asm.Models.BookOwner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"asp-route-id=@ViewBag.Id>Create New</a>

    <a asp-action="ViewBook" asp-route-id=@ViewBag.Id>View my Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameStore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerAcc.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameStore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
